body {
  background-color: #18578d;
}

.main-header {
  color: bisque;
  text-decoration: underline;
  display: flex;
  justify-content: left;
  font-family: "Sawarabi Mincho", sans-serif;
  font-size: 64px;
  letter-spacing: 2px;
  margin-left: 10px;
}

.main-header:hover {
  color: coral;
}

#button-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 15px;
  font-family: "Sawarabi Mincho", sans-serif;
  color: #18578d;
}

.about-button {
  border: none;
  font-family: "Sawarabi Mincho", sans-serif;
  font-size: 20px;
  background-color: #18578d;
  color: beige;
}

.contact-button {
  border: none;
  font-family: "Sawarabi Mincho", sans-serif;
  font-size: 20px;
  background-color: #18578d;
}

.project-button {
  border: none;
  font-family: "Sawarabi Mincho", sans-serif;
  font-size: 20px;
  background-color: #18578d;
}
